.Input {
  display: flex;
  align-items: center;
}

input {
  width: 400px;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #bbb;
}

input:focus {
  outline: none;
}

.TickAll {
  margin: 10px 0px 10px 5px;
  cursor: pointer;
  transition: .3s;
}

.TickAll:hover {
  transform: scale(1.15);
}