h3 {
  margin: 100px;
  color: #777;
}

.Item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #bbb;
  transition: .3s;
}

.Item:hover .Remove {
  opacity: 1;
}

.Item:hover .EditBtn {
  opacity: 1;
}

.Content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.Edit {
  width: 360px;
  margin: 0px 2px;
  border-radius: 8px;
}

.Tick {
  margin: 8px;
  cursor: pointer;
  transition: .3s;
}

.Tick:hover {
  transform: scale(1.2);
}

.Title {
  width: 320px;
  margin-left: 5px;
  font-size: 18px;
  word-break: break-all;
}

.Completed {
  text-decoration: line-through;
  opacity: .5;
}

.EditBtn {
  opacity: 0;
  cursor: pointer;
  margin: 0px 12px;
  transition: .3s;
}

.EditBtn:hover {
  transform: scale(1.2);
}

.Cancel {
  cursor: pointer;
  margin-left: 12px;
  transition: .3s;
}

.Cancel:hover {
  transform: scale(1.2);
}

.Remove {
  opacity: 0;
  margin-left: 10px;
  cursor: pointer;
  transition: .3s;
}

.Remove:hover {
  transform: scale(1.2);
}