h3 {
  margin: 100px;
  color: #777;
}

.Item {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 95%;
  border-top: 1px solid #bbb;
  transition: .3s;
}

.Item:hover .Remove{
  opacity: 1;
}

.Tick {
  margin: 9px;
  cursor: pointer;
  transition: .3s;
}

.Tick:hover {
  transform: scale(1.2);
}

.Title {
  width: 380px;
  margin-left: 16px;
  font-size: 18px;
  word-break: break-all;
}

.Completed {
  text-decoration: line-through;
  opacity: .5;
}

.Remove {
  opacity: 0;
  margin-left: 12px;
  cursor: pointer;
  transition: .3s;
}

.Remove:hover {
  transform: scale(1.2);
}