.Options {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bbb;
  padding: 20px 20px;
}

.Btn {
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #3bb54a;
  color: #fff;
  transition: .3s;
}

.Btn:hover {
  background-color: #1f9b2d;
  transform: scale(1.05);
}

.CountItem {
  color: #777;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  padding: 6px
}

